

#root {
	height: 100%;
	overflow: auto;
}
/*:root {*/
/*	--primary-background-color: #fff;*/
/*	--primary-text-color: #000;*/
/*	--primary-border: 1px solid #cccccc;*/
/*}*/
.default-theme{
	--primary-background-color: #fff;
	--primary-text-color: #000;
	--primary-border: 1px solid #cccccc;
	--header-icon-background:#eeeeee
}
.blue-theme {
	--primary-background-color: #e7eeff;
	--primary-text-color: #4180c7;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff
}
.purple-theme{
	--primary-background-color: #ececf8;
	--primary-text-color: #774bd7;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff
}
.red-theme{
	--primary-background-color:#ffeaea;
	--primary-text-color: #c91515;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff
}
.green-theme{
	--primary-background-color: #e5f7e5;
	--primary-text-color: #1e8d1e;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff
}
.orange-theme{
	--primary-background-color: #f4e9e6;
	--primary-text-color: #f2804b;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff
}
.pink-theme{
	--primary-background-color: #ffe7e7;
	--primary-text-color: #ff697e;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff
}
.gradient-theme-blue-yellow{
	/*background-image: linear-gradient( 179.1deg,  rgba(255,250,172,1) 10.3%, rgba(13,167,168,1) 148% );*/
	--primary-background-color:  linear-gradient( 179.1deg, rgb(254 250 191) 10.3%, rgba(13,167,168,1) 148% );
	--primary-text-color: rgba(13,167,168,1);
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff;
}
.gradient-theme-blue-purple{
	--primary-background-color: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	--primary-text-color: #3ed0ca;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff;
}
.gradient-theme-red-gray{
	--primary-background-color:linear-gradient(to top, #e592a2 39%, #d8b4b9 51%,  #dddcd7 64%, #dbdcd7 100%);
	--primary-text-color: #b8235a;
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff;
}
.gradient-theme-green-blue{
	--primary-background-color: linear-gradient(to top, rgb(182, 244, 146), rgb(51, 139, 147));
	--primary-text-color: rgb(115, 231, 42);
	--primary-border: 1px solid #ffffff;
	--header-icon-background:#ffffff;
}

.add-new-button svg path:first-child{
	fill: var(--primary-text-color);
}
.show-noteList-box{
	padding:24px 24px 24px 24px;
}
.main-section-header h2{
	color: var(--primary-text-color);
}
.main-section-header svg path{
	fill: var(--primary-text-color);
}
.main-section-header svg path{
	stroke: var(--primary-text-color);
}
.main-section-header svg rect{
	stroke: var(--primary-text-color);
}

.note-container {
	width: 100%;
	height: 100vh;
	transition: width .3s ease;
	box-sizing: border-box;
	background: var(--primary-background-color);
}
/**/
.container {
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	background: #ffffff;
	display: flex;
	flex-flow: row nowrap;
	/*background: linear-gradient(0deg, rgb(123 188 188) 0%, rgb(250 226 175 / 55%) 100%);*/
	/*background: radial-gradient(circle, rgba(238,174,202,1) 23%, rgba(148,187,233,1) 100%);*/
}

.sub-menu-content-disappear {
	opacity: 0; /* 完全透明 */
	height: 0; /* 高度为0，折叠起来 */
	visibility: hidden; /* 隐藏元素 */
}


.sub-menu-content {
	user-select: none;
	width: 100%;
	height: auto; /* 自动根据内容的高度 */
	display: grid;
	/*grid-template-columns: repeat(2, 1fr);*/
	grid-template-columns: repeat(auto-fill, minmax(79px, 1fr));
	gap: 10px;
	margin-top: 10px;
	opacity: 1; /* 完全可见 */
	visibility: visible; /* 确保占据空间 */
	transition: opacity 1s ease, height 0.4s ease; /* 增加过渡时间 */
	box-sizing: border-box;
	overflow: visible;
	transition: width 0.4s ease;
	transition: grid-template-columns 0.5s ease;
}

.sub-menu-content .notebook-option {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	align-items: center;
}

.sub-menu-content .notebook-option .notebook-cover {
	width: 79px;
	height: 100%;
	aspect-ratio: 9 / 11; /* 保证宽高比一致 */
	cursor: pointer;
	object-fit: cover; /* 图片按比例填充 */
	display: block;
	border-radius: 4px;
	/*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.15);*/
	box-sizing: border-box;
	transition: border-color 0.3s ease;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.notebook-cover.selected {
	border: 1px outset black;
}

.sub-menu-content .notebook-option .notebook-title {
	width: 70px;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 3px 0;
}
.feedback-content{
	padding: 10px;
	background: white;
}
.feedback-content span{
	width: fit-content;
	display: flex;
	align-items: center;
	background: white;
	border: 1px solid lightgray;
	border-radius: 4px;
}
.all-notebook-header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.active-collapse{
	background: #eeeeee;
}
.add-notebook-icon-box {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.all-notebook-header .title-add {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.title-add span:first-of-type {
	margin: 0 0 0 30px;
}

.title-add span:last-of-type {
	color: #767676;
	font-size: 14px;
	margin-right: 4px;
}

.sub-menu-title {
	font-size: 16px;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	user-select: none;
	padding: 6px 10px 6px 0;
	height: 40px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 6px;
}

.sub-menu-title:hover {
	background-color: #eeeeee;
}


.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
	padding: 0;
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
	padding: 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	padding: 0;
	display: flex;
	align-items: center;
	padding: 6px 10px 6px 0;
	height: 40px;
	border-radius: 8px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header:hover {
	background-color: #eeeeee;
}

.ant-collapse > .ant-collapse-item:last-child {
	border-radius: 0;
}

.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
	border-radius: 8px;
}

.sidebar-content-panel .menu-item {
	font-size: 16px;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	cursor: pointer;
	user-select: none;
	padding: 6px 0;
	height: 40px;
	border-radius: 8px;
	transition: background-color 0.4s ease, width 0.5s ease;
}

.sidebar-content-panel .menu-item:hover {
	background-color: #eeeeee;
}

.sidebar-content-panel .menu-item span {
	margin-left: 30px;
}

.sidebar-content-panel .menu-item svg {
	margin-left: 20px;
}

.sidebar-notebook-item {
	position: relative;
}


.react-resizable {
	height: 100%;
}

/* 自定义的拖动手柄 */

.resize-handle-container {
	position: fixed; /* 固定在视口 */
	top: 0; /* 固定到顶部 */
	right: 0; /* 固定到右侧 */
	height: 100%;
	z-index: 10; /* 确保在上层 */
	cursor: col-resize;
	width: 2px;
}

.custom-resize-handle {
	/*width: 2px;*/
	/*background-color: rgba(0, 0, 0, 0.1);*/
	/*cursor: col-resize;*/
}

.resize-handle-container:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.react-resizable {
	padding: 0;
}

.create-notebook-text {
	color: #03a9f4;
	text-decoration: underline;
	font-style: italic;
	cursor: pointer;
}

.resizable-box {
	position: relative;
}

.sidebar-container {
	width: 100%;
	height: 100%;
	/*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.28748481814600846) 100%);*/
	/*background: radial-gradient(circle, rgba(238,174,202,1) 23%, rgba(148,187,233,1) 100%);*/
}

.sidebar-content-panel {
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.sidebar-menu-list {
	width: 100%;
}

.ant-menu {
	width: 100%;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
	border-inline-end: none;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline {
	background-color: white;
}


.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
	margin: 0;
	padding-left: 0 !important;
	width: 100%;
}

.ant-divider-horizontal {
	margin: 10px 0;
}

.sidebar-book-container {
	width: 100%;
	height: calc(100% - 28px)
}

.empty-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
}


html,
body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	
}

body {
	/*background: #ffffff;*/
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.resizable-box.react-resizable {
	transition: all .2s ease;
	background: #ffffff;
	
}

.resizable-box::-webkit-scrollbar {
	display: none;
}

.collpased {
	padding: 0;
	margin: 0;
}


.show-mode-box{
	box-sizing: border-box;
	height: calc(100% - 52px);
	overflow-x: hidden;
	overflow-y: scroll;
}
.show-mode-box::-webkit-scrollbar-button {
	display: none;
}
.show-mode-box::-webkit-scrollbar {
	display: inline-block;
	width: 10px;
}
.show-mode-box::-webkit-scrollbar-track {
	background: #dadcda;
}
.show-mode-box::-webkit-scrollbar-thumb {
	background: #a4a4a4;
	width: 2px;
}

.show-mode-box::-webkit-scrollbar-thumb:hover {
	background: #7d7d7d;
}


.resizing {
	transition: unset !important;
}



/*宫格模式 ,卡片模式和列表模式分别设置不同的ul和noteItem,noteTitle*/
.note-card-mode{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 16px;
}
.note-card-mode-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1.5;
	/*width: calc(50% - 8px);*/
	height: 100%;
	background: white;
	padding: 4px;
	box-sizing: border-box;
	transition: box-shadow 0.1s ease-in-out;
	border: var(--primary-border);
}

.note-card-mode-item:last-child{
	margin-bottom: 20px;
}

.note-card-mode-item:hover {
	cursor: pointer;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);*/
}
.note-card-mode-title{
	font-size: 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5; /* 设置行高 */
	height: calc(1.5em * 6); /* 根据行高和显示的行数计算最大高度 */
	white-space: pre-wrap;
	word-wrap: break-word; /* 强制长文本换行 */
	word-break: break-word; /* 强制长文本换行，尤其是数字 */
}

.note-grid-mode-title {
	font-size: 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5; /* 设置行高 */
	max-height: calc(1.5em * 6); /* 根据行高和显示的行数计算最大高度 */
	height: fit-content;
	white-space: pre-wrap; 
	word-wrap: break-word; /* 强制长文本换行 */
	word-break: break-word; /* 强制长文本换行，尤其是数字 */
}

.note-grid-mode {
	display: block; /* 变为块级元素 */
}
.note-grid-mode-item {
	background: white;
	border-radius: 8px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 16px;
	width: calc(50% - 8px); /* 保持宽度大约为父容器的一半 */
	transition: box-shadow 0.1s ease-in-out;
	border: var(--primary-border);
}


.note-grid-mode-item:hover {
	cursor: pointer;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);*/
}

.note-ul-mode {
	width: 100%;
	height: 100%;
}
.note-ul-mode-item {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	border-radius: 8px;
	height: fit-content;
	width: 100%;
	background: white;
	padding: 10px;
	z-index: 10;
	box-sizing: border-box;
	margin-bottom: 16px;
	transition: box-shadow 0.1s ease-in-out;
	border: var(--primary-border);
}
.note-ul-mode-item:hover {
	cursor: pointer;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);*/
}

.note-ul-mode-title {
	font-size: 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5; /* 设置行高 */
	max-height: calc(1.5em * 2); /* 根据行高和显示的行数计算最大高度 */
	height: fit-content;
	white-space: pre-wrap;
	word-wrap: break-word; /* 强制长文本换行 */
	word-break: break-word; /* 强制长文本换行，尤其是数字 */
}

.note-details {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 28px;
	width: 100%;
}
.note-time {
	width: 30%;
	font-size: 12px;
	color: #8b8a8a;
}
.note-operation-buttons {
	width: 70%;
	visibility: hidden;
	user-select: none;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	transition: visibility 0.2s ease-in-out;
}
.note-operation-buttons .note-buttons-common{
	background:  transparent;
	border-radius: 28px;
	height: 28px;
	width: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.note-operation-buttons .note-buttons-common:hover{
	background:  #eeeeee;
}
.note-card-mode-item:hover .note-operation-buttons {
	visibility: visible;
}
.note-ul-mode-item:hover .note-operation-buttons {
	visibility: visible;
}

.note-grid-mode-item:hover .note-operation-buttons {
	visibility: visible;
}
.note-operation-buttons .note-buttons-common:hover .delete-note-icon path{
	fill: red;
}
.note-operation-buttons .note-buttons-common:hover .star-button path{
	fill: #ffd700;
}
.note-operation-buttons .note-buttons-common:hover .top-up-button path{
	fill: #000000;
}

h2 {
	font-family: Arial, sans-serif;
	width: fit-content;
	margin: 0 0 2px 4px;
	user-select: none;
}

.main-section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
	height: 52px;
	border-bottom: 1px solid;
	border-color: var(--primary-text-color);
}

.main-section-header .notelist-header-icon{
	margin-right: 30px;
	/*background:  transparent;*/
	border-radius: 40px;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.main-section-header .notelist-header-icon:hover{
	background: var(--header-icon-background);
}
.selected-mode{
	background: var(--header-icon-background);
	/*border-color: var(--primary-text-color);*/
}
.note-title-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
}

.rename-input {
	height: 28px;
	font-size: 21px;
	font-weight: bold;
	width: fit-content;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

.top-tool-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: fit-content;
}

.expand-icon {
	cursor: pointer;
}

.delete-confirm-title {
	font-weight: bold;
	padding: 0 4px;
}

/*输入框容器*/
.search-bar {
	display: flex;
	align-items: center;
	border: 1px solid #cccccc;
	border-radius: 6px;
	padding: 0px 4px;
	width: 300px;
	margin-right: 20px;
	background: white;
	height: 26px;
}

/* 输入框样式 */
.search-input {
	flex: 1; /* 使输入框占据剩余空间 */
	border: none;
	outline: none;
	font-size: 16px;
	border-radius: 4px;
}

/* 按钮（放大镜）样式 */
.search-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 5px;
	width: fit-content;
	height: fit-content;
	font-size: 16px;
}

.add-new-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 42px;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);
	border: unset;
	padding: 0;
	position: absolute;
	right: 40px;
	bottom: 34px;
	cursor: pointer;
	z-index: 20;
	user-select: none;
}

.add-new-button-disappear {
	display: none;
}


.preview-area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.preview-area .preview-img {
	text-align: center;
	width: 100%;
	position: relative;
}

.preview-area img {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 220px;
	object-fit: cover;
}


.preview-title {
	max-width: 100%;
	height: 20px;
	margin: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.note-title-bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.note-title-bar .down-outline-box {
	height: 24px;
	width: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.expand-icon {
	height: 24px;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.expand-icon:hover {
	background: #eeeeee;
	border-radius: 4px;
}

.moreOptionContainer {
	box-sizing: border-box;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	user-select: unset;
	background: white;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	
}

.option-item {
	padding: 5px;
	background-color: white;
}

.add-NB-modal-content {
	width: 100%;
	height: fit-content;
	display: grid;
	grid-template-columns: 60% 40%;
}

.add-NB-modal-content .title-input {
	width: 96%;
}

.ant-input-outlined:hover {
	border: 1px solid black;
}

.ant-input-outlined:focus {
	border: 1px solid black;
	box-shadow: none;
}

.ant-input-outlined:focus-within {
	border: 1px solid black;
	box-shadow: none;
}

.ant-modal .ant-modal-content {
	padding: 18px;
}

.edit-NB-info {
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
}

.edit-NB-info p {
	margin: 4px 0;
}

.edit-NB-info .cover-file-upload {
	display: inline-block;
	padding: 5px 10px;
	background-color: #1890ff; /* Ant Design 蓝色 */
	color: white;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}

.img-cover-box {
	overflow-y: scroll;
	height: 204px;
	display: grid;
	grid-template-columns:repeat(4, 1fr);
	width: fit-content;
	gap: 6px;
}

.img-cover-box::-webkit-scrollbar {
	display: inline-block;
	width: 2px;
	height: 4px;
}

.img-cover-box::-webkit-scrollbar-thumb {
	background: #9c9a9a;
	border-radius: 4px;
	width: 2px;
	height: 4px;
}

.img-cover-box img {
	cursor: pointer;
	object-fit: cover;
	box-shadow: 2px 2px 4px #c7c6c6;
}

.ant-tooltip {
	font-size: 10px;
}

.ant-tooltip .ant-tooltip-inner {
	min-height: unset;
}

.field {
	width: fit-content;
}

.lab {
	display: flex;
	align-items: center;
	width: fit-content;
	height: fit-content;
	background-color: #eeeeee;
	border-bottom: 1px solid #d9d9d9;
}

.content {
	width: fit-content;
	height: 0;
	overflow: hidden;
	transition: height .3s linear;
}

.ipt {
	display: none;
}

.ipt:checked ~ .content {
	height: fit-content;
}

.ipt:checked ~ .lab svg {
	transform: rotate(-180deg);
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.star-button {
	transition: fill 0.3s ease;
}

svg.star-button-active path {
	fill: #ffd700; /* 改变颜色 */
	animation: jump 2s ease infinite; /* 闪烁效果 */
}

.delete-notebook-button {
	color: red;
}

body, html {
	height: 100%;
	margin: 0;
}
.public-DraftEditor-content{
	overflow-y: auto;
}
.public-DraftEditor-content::-webkit-scrollbar {
	display: inline-block;
	width: 2px;
	height: 4px;
}
.public-DraftEditor-content::-webkit-scrollbar-thumb {
	background: #9c9a9a;
	border-radius: 4px;
	width: 2px;
	height: 4px;
}

.public-DraftEditor-content::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.editor-container{
	overflow-y: scroll;
}
.editor-container::-webkit-scrollbar {
	display: inline-block;
	width: 2px;
	height: 4px;
}
.editor-container::-webkit-scrollbar-thumb {
	background: #9c9a9a;
	border-radius: 4px;
	width: 2px;
	height: 4px;
}
.rich-text-options{
	display: flex;
	flex-flow: row nowrap;
	height: 31px;
	width: 100%;
	align-items: center;
	background: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	border-bottom: 1px solid #d0d0d0;
}
.rich-text-options button{
	border-radius: 6px;
	background-color: white;
	outline: unset;
	border: unset;
	margin-right: 4px;
	cursor: pointer;
	user-select: unset;
	box-sizing: border-box;
	height: 30px;
	width: 36px;
}
.rich-text-options button:hover{
	background-color: #e6e5e5;
	border-radius: 4px;
	
}
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

.code-block {
	background-color: #f5f5f5;
	font-family: monospace;
	border-left: 4px solid #ddd;
	padding: 8px;
	margin: 0;
	white-space: pre-wrap;
}


