body, html {
	height: 100%;
	margin: 0;
}
.public-DraftEditor-content{
	overflow-y: auto;
}
.public-DraftEditor-content::-webkit-scrollbar {
	display: inline-block;
	width: 2px;
	height: 4px;
}
.public-DraftEditor-content::-webkit-scrollbar-thumb {
	background: #9c9a9a;
	border-radius: 4px;
	width: 2px;
	height: 4px;
}

.public-DraftEditor-content::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.editor-container{
	overflow-y: scroll;
}
.editor-container::-webkit-scrollbar {
	display: inline-block;
	width: 2px;
	height: 4px;
}
.editor-container::-webkit-scrollbar-thumb {
	background: #9c9a9a;
	border-radius: 4px;
	width: 2px;
	height: 4px;
}
.rich-text-options{
	display: flex;
	flex-flow: row nowrap;
	height: 31px;
	width: 100%;
	align-items: center;
	background: white;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	border-bottom: 1px solid #d0d0d0;
}
.rich-text-options button{
	border-radius: 6px;
	background-color: white;
	outline: unset;
	border: unset;
	margin-right: 4px;
	cursor: pointer;
	user-select: unset;
	box-sizing: border-box;
	height: 30px;
	width: 36px;
}
.rich-text-options button:hover{
	background-color: #e6e5e5;
	border-radius: 4px;
	
}
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

