body, html {
	height: 100%;
	margin: 0;
}
.public-DraftEditor-content{
	overflow-y: auto;
}
.public-DraftEditor-content::-webkit-scrollbar {
	display: inline-block;
	width: 2px;
	height: 4px;
}
.public-DraftEditor-content::-webkit-scrollbar-thumb {
	background: #9c9a9a;
	border-radius: 4px;
	width: 2px;
	height: 4px;
}

.public-DraftEditor-content::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.editor-container{
	background: var(--note-input-bg-color);
	color: var(--note-content-color);
	overflow-y: scroll;
}
.editor-container::-webkit-scrollbar {
	display: inline-block;
	width: 2px;
	height: 4px;
}
.rich-text-input{
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
}
.rich-text-input::placeholder{
	color: #b3b7bf;
}
.editor-container::-webkit-scrollbar-thumb {
	background: #9c9a9a;
	border-radius: 4px;
	width: 2px;
	height: 4px;
}
.rich-text-options{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	height: 40px;
	width: 100%;
	align-items: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-sizing: border-box;
	border-bottom: 1px solid #d0d0d0;
}
.rich-text-options button{
	border-radius: 100%;
	background: var(--note-input-bg-color);
	outline: unset;
	border: unset;
	cursor: pointer;
	user-select: unset;
	box-sizing: border-box;
	height: 36px;
	width: 36px;
	min-height: 16px;
	min-width: 16px;
}

.rich-text-options button svg path{
	fill: var(--note-content-color);
}
.rich-text-options button:hover{
	background-color: var(--add-note-button-bg);
	border-radius: 100%;
}
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}
.eraser-icon{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 8px 0 8px 0;
	margin-top: 4px;
	height: fit-content;
	width: 100%;
	border-radius:6px;
	cursor: pointer;
}
.eraser-icon:hover{
	background: var(--siderbar-icon-hover-bg);
}

.color-popover-title {
	padding-bottom: 10px;
	color: var(--siderbar-font-color);
}
.eraser-text{
	color: var(--siderbar-font-color);
}
.eraser-icon svg path{
	fill: var(--siderbar-icon-color);
}
.eraser-icon svg{
	margin-right: 8px;
}

.eraser-icon:hover{
	fill: var(--siderbar-icon-hover-bg);
}
.font-color-content{
	width: fit-content;
	height: fit-content;
}
.all-font-colors {
	display: grid;
	grid-template-columns: repeat(6,1fr);
}

.font-color-circle {
	border-radius: 100%;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 30px; 
	height: 30px; 
	text-align: center;
	box-sizing: border-box; 
	cursor: pointer;
	transition: transform .2s ease;
	border: 1px solid;
}


.font-color-circle:last-child {
	margin-right: 0;
	margin-bottom: 0;
}
.selected-color {
	box-shadow: inset 0 0 0 3px white;
}

.font-color-circle:hover {
	transform: scale(1.2);
}


.modal-top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.modal-top-bar  div {
	padding: 1px 6px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	outline: unset;
	border: unset;
	cursor: pointer;
	user-select: unset;
	box-sizing: border-box;
	height: 36px;
	width: 36px;
	min-height: 16px;
	min-width: 16px;
}

.modal-top-bar div svg path{
	fill: var(--note-content-color);
}

.modal-top-bar .cancel-edit-icon:hover svg path {
	border-radius: 100%;
	fill: red;
}



.modal-top-bar  div:hover {
	background-color: var(--add-note-button-bg);
	border-radius: 100%;
}
.edit-note-icons{
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.edit-note-options{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 4px;
}
.edit-note-options .edit-note-option-item:nth-child(-n+3){
	width: 32px;
	height: 32px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.edit-note-options .edit-note-option-item:nth-child(n+4){
	width: fit-content;
	height: fit-content;
	border-radius: 2px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-note-options .edit-note-option-item:hover{
	background: var(--show-note-book-text-bg-color);
	cursor: pointer;
}
.add-new-button {
	width: 60px;
	height: 24px;
	background: var(--add-note-button-bg);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	/*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.1);*/
	padding: 0;
	/*position: absolute;*/
	/*right: 40px;*/
	/*bottom: 34px;*/
	cursor: pointer;
	z-index: 20;
	user-select: none;
}
.add-new-button svg path{
	fill: var(--note-content-color);
}
.add-new-button:hover {
	background: var(--show-note-book-text-bg-color);
}
.superFancyBlockquote {
	color: #888a8c;
	font-family: 'Microsoft YaHei UI', Georgia, serif;
	/*font-style: italic;*/
	text-align: center;
	/*width: 90%;*/
	border-left: 3px solid #dedfe2;
	margin: 10px 0;
	box-sizing: border-box;
	padding: 10px 0 10px 14px;
}

.font-size-option{
	cursor: pointer;
	user-select: none;
	border-radius: 4px;
	padding: 4px;
	color: var(--siderbar-font-color);
}

.font-size-option:hover{
	background: var(--siderbar-icon-hover-bg);
}

.font-size-popover.ant-popover .ant-popover-inner{
	padding: 4px;
}
